@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(164, 170, 185);
}

.sidebar-highlight {
  background-color: rgb(91, 75, 213);
  color: white;
}

.sidebar-selected {
  background-color: rgb(246, 244, 254);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
